# fly.toml app configuration file generated for iavian-go-readability on 2025-08-08T19:21:42+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'iavian-go-readability'
primary_region = 'ewr'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
